<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.aki.mobilesafe">
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 读联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 手机启动监听 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 阅读短信 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 抖动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 接收去电通知 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 挂电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 修改通话记录 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <!-- 创建快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <!-- 杀死后台进程 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <!-- 闪屏页 -->
        <activity android:name=".activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity android:name=".activity.HomeActivity">
            <!-- 用户快捷方式打开应用 -->
            <intent-filter>
                <action android:name="cn.aki.mobilesafe.action.HomeActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 设置中心 -->
        <activity android:name=".activity.SettingActivity"/>
        <!-- 手机防盗 -->
        <activity android:name=".activity.SafeActivity"/>
        <!-- 手机防盗向导页 -->
        <activity android:name=".activity.SafeStep1Activity"/>
        <activity android:name=".activity.SafeStep2Activity"/>
        <activity android:name=".activity.SafeStep3Activity"/>
        <activity android:name=".activity.SafeStep4Activity"/>
        <!-- 联系人 -->
        <activity android:name=".activity.ContactsActivity"/>
        <!-- 高级工具 -->
        <activity android:name=".activity.ToolsActivity"/>
        <!-- 归属地 -->
        <activity android:name=".activity.AddressActivity"/>
        <!-- 归属地位置 -->
        <activity android:name=".activity.DragAddressActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 火箭背景 -->
        <activity android:name=".activity.RocketBackground" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- 通讯卫士 -->
        <activity android:name=".activity.CallSafeActivity"/>
        <!-- 软件管理 -->
        <activity android:name=".activity.AppActivity"/>
        <!-- 进程管理 -->
        <activity android:name=".activity.ProgressActivity"/>
        <!-- 进程管理设置 -->
        <activity android:name=".activity.ProgressSettingActivity"/>

        <!-- 手机启动监听 -->
        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!-- 接收短信 -->
        <receiver android:name=".receiver.SmsReceiver">
            <!-- 权限设置最高，优先拦截 -->
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <!-- 设备管理 -->
        <receiver android:name=".receiver.DeviceAdminSampleReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- 定位 -->
        <service android:name=".service.LocationService"/>
        <!-- 来电去电归属地显示 -->
        <service android:name=".service.AddressService"/>
        <!--
        <receiver android:name=".receiver.OutgoingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        -->
        <!-- 火箭 -->
        <service android:name=".service.RocketService"/>
        <!-- 黑名单 -->
        <service android:name=".service.BlackListService"/>
        <!-- 清理进程 -->
        <service android:name=".service.KillProgressService"/>
    </application>

</manifest>
